<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>GIRA</title>
  <link rel="icon" href="/img/projectLogo.png" type="image/icon type">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/reset-css.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg ">
      <span class="col-md-1" >
        <img th:src="@{/img/projectLogo.png}" alt="Logo" width="50" height="50">
      </span>
    <th:block th:if="${@loggedUser.id == 0}">
    <a class="navbar-brand active col-md-1 title" th:href="@{/}">Gira</a>
    </th:block>
    <th:block th:if="${@loggedUser.id > 0}">
      <a class="navbar-brand active col-md-1 title" th:href="@{/home}">Gira</a>
    </th:block>

    <div class="collapse navbar-collapse  d-flex justify-content-end">
      <ul class="navbar-nav row">

        <th:block th:if="${@loggedUser.id == 0}">
        <li class="nav-item col-md-5">
          <a class="button" th:href="@{/login}">Login</a>
        </li>
        <li class="nav-item col-md-5">
          <a class="button" th:href="@{/register}">Register</a>
        </li>
        </th:block>

        <th:block th:if="${@loggedUser.id > 0}">
          <li class="nav-item col-md-6">
            <a class="button text-nowrap" th:href="@{/tasks/add}">Add Task</a>
          </li>
          <li class="nav-item col-md-5">
            <a class="button" th:href="@{/logout}">Logout</a>
          </li>
        </th:block>

      </ul>
    </div>
  </nav>
</header>
<footer>
  <div class="container-fluid text-center">
    <div class="footer-background h6">
      &copy; Spring team 2020. All rights reserved.
    </div>
  </div>
</footer>
</body>
</html>